<div class="radio-list">
    <label class="radio-inline" style="padding-left: 0px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p class="form-control-inline chekador"  style="margin-left: 10px" val="1"  > (1)</p>
    </label>
    <label class="radio-inline" style="margin-left: 2px;padding-left: 2px">
        <p class="form-control-inline chekador"  style="margin-left: 10px"  val="2"> (2)</p>
    </label>
    <a href="javascript:;" class="radio_cleaner" style="visibility: hidden"><i class="fa fa-times"></i></a>
</div>