<div class="col-md-12">
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box light-grey">
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-globe"></i>Managed Table
    </div>
    <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
        <a href="#portlet-config" data-toggle="modal" class="config">
        </a>
        <a href="javascript:;" class="reload">
        </a>
        <a href="javascript:;" class="remove">
        </a>
    </div>
</div>
<div class="portlet-body">
<div class="table-toolbar">
    <div class="btn-group">
        <button id="sample_editable_1_new" class="btn blue">
            Add New <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="btn-group pull-right">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="#">
                    Print
                </a>
            </li>
            <li>
                <a href="#">
                    Save as PDF
                </a>
            </li>
            <li>
                <a href="#">
                    Export to Excel
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="sample_1_wrapper" class="dataTables_wrapper" role="grid"><div class="row"><div class="col-md-6 col-sm-12"><div id="sample_1_length" class="dataTables_length"><label><select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control input-xsmall"><option value="5" selected="selected">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select> records</label></div></div><div class="col-md-6 col-sm-12"><div class="dataTables_filter" id="sample_1_filter"><label>Search: <input type="text" aria-controls="sample_1" class="form-control input-medium input-inline"></label></div></div></div><div class="table-scrollable"><table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
<thead>
<tr role="row"><th class="table-checkbox sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 23px;" aria-label="

								">
        <div class="checker"><span class=""><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"></span></div>
    </th><th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 212px;" aria-label="
									 Username
								: activate to sort column ascending">
        Username
    </th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 362px;" aria-label="
									 Email
								">
        Email
    </th><th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 146px;" aria-sort="descending" aria-label="
									 Points
								: activate to sort column ascending">
        Points
    </th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 211px;" aria-label="
									 Joined
								">
        Joined
    </th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 219px;" aria-label="
									 &amp;nbsp;
								">
        &nbsp;
    </th></tr>
</thead>

<tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="gradeX odd">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        shuxer
    </td>
    <td class=" ">
        <a href="mailto:shuxer@gmail.com">
            shuxer@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        120
    </td>
    <td class="center ">
        12 Jan 2012
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        looper
    </td>
    <td class=" ">
        <a href="mailto:looper90@gmail.com">
            looper90@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        120
    </td>
    <td class="center ">
        12.12.2011
    </td>
    <td class=" ">
									<span class="label label-sm label-warning">
										 Suspended
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        userwow
    </td>
    <td class=" ">
        <a href="mailto:userwow@yahoo.com">
            userwow@yahoo.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        12.12.2012
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        user1wow
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            userwow@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        12.12.2012
    </td>
    <td class=" ">
									<span class="label label-sm label-default">
										 Blocked
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        restest
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            test@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        12.12.2012
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        foopl
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        19.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        weep
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        19.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        coop
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        19.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        pppol
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        19.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        test
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        19.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        userwow
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            userwow@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        12.12.2012
    </td>
    <td class=" ">
									<span class="label label-sm label-default">
										 Blocked
									</span>
    </td>
</tr><tr class="odd gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        test
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            test@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        12.12.2012
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        goop
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        12.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr><tr class="odd gradeX even">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        weep
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        15.11.2011
    </td>
    <td class=" ">
									<span class="label label-sm label-default">
										 Blocked
									</span>
    </td>
</tr><tr class="odd gradeX">
    <td class="">
        <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="1"></span></div>
    </td>
    <td class=" ">
        toopl
    </td>
    <td class=" ">
        <a href="mailto:userwow@gmail.com">
            good@gmail.com
        </a>
    </td>
    <td class=" sorting_1">
        20
    </td>
    <td class="center ">
        16.11.2010
    </td>
    <td class=" ">
									<span class="label label-sm label-success">
										 Approved
									</span>
    </td>
</tr></tbody></table></div><div class="row"><div class="col-md-5 col-sm-12"><div class="dataTables_info" id="sample_1_info">Showing 1 to 15 of 25 entries</div></div><div class="col-md-7 col-sm-12"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination" style="visibility: visible;"><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li></ul></div></div></div></div>
</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
</div>



<script>
    function cargarGRID(value){

        $.ajax({
            async: true,
            type: "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            url: '{{ rutas.ajax }}',
            data: {
                page: 1,
                limit: 2,
                filter: value
            },
            success: function (response) {
                BorrarDatos();
                var total = response.total;
                var init = response.init;
                var fin = response.fin;
                var columnas = response.data.columnas;
                var data = response.data.datos;
                var headerROW = "<tr class='label-success'>";
                $.each(columnas, function(i, item) {
                    headerROW+="<th>"+item.rowName+"</th>";
                });
                headerROW+="</tr>";
                var dataRow = "";

                var lengthRow = columnas.length;
                dataRow = "<tr>";
                $.each(data, function(i, item) {
                    for (var n=0;n<lengthRow;n++)
                         dataRow+="<td>"+item[n]+"</td>";
                    dataRow += "</tr>";

                });
                document.getElementById("{{ GRIDIDS.body }}").innerHTML=dataRow;
                document.getElementById("{{ GRIDIDS.header }}").innerHTML=headerROW;

            }})
    }

    function BorrarDatos() {
    document.getElementById("{{ GRIDIDS.body }}").innerHTML="";
    }

    function showModal(){

    }
    $(document).ready(showModal());
</script>
