<div class="seleccion_materias row" >
        <div class=" col-md-12">
            <div class="tabbable tabbable-custom boxless tabbable-reversed">
                <ul class="nav nav-tabs">
                    {% for EPCarrera in array %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#seleccion_materias_tab_{{ EPCarrera.carrera.id }}"  data-toggle="tab">
                                {{ EPCarrera.carrera.nombre }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for EPCarrera in array %}
                        <div class="tab-pane {% if loop.first %}active{% endif %}" id="seleccion_materias_tab_{{ EPCarrera.carrera.id }}" >
                            {{ include ("@PlaneacionAdmin/Profesor/seleccion_materias_tab.html.twig") }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row ">
            <a href="javascript:;" class="pull-right materias_seleccion_limpiador_btn btn btn-sm red "><i class="fa fa-times"></i>Limpiar preferencias de materias.</a>
        </div>
</div>