 {% extends "SiteBundle::layout/frontend.html.twig" %}



{%block paddingcontent%}
<div style="padding-top:120px;"></div>
{%endblock%}

{% block content %}

					<div class="c-content-title-1 c-margin-b-60">
						<h3 class="c-center c-font-uppercase c-font-bold">
						Le hemos enviado un correo electrónico</h3>
						<div class="c-line-center">
						<i class="icon-envelope c-theme-font c-font-30">
						</i>
						</div>
						<p class="c-center  c-font-17">
						
							A la dirección email@example.com  <br>
							Por favor acceda a su cuenta y confirme la dirección de correo.
						</p>

					</div>
{% endblock %}


