 {% extends "SiteBundle::layout/frontend.html.twig" %}


{%block paddingcontent%}

{%endblock%}

{%block content%}
<section class="c-layout-revo-slider c-layout-revo-slider-7">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="c-singup-form">
			<h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
			optimiza <span class="c-theme-font c-font-bold">la planificación</span> en tu Institución </h3>
			<h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
			REGÍSTRATE & OBTÉN 90 DÍAS DE ACCESSO GRATUITO </h5>
			<form class="form-inline" action="{{ path('contact_new') }}">
				
				<button type="submit" class="btn btn-lg btn-danger c-btn-uppercase c-btn-square c-btn-bold">Quiero probar el producto</button>
			</form>
		</div>
		<div class="tp-banner">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="{{ asset('bundles/site/base/img/content/backgrounds/bg-56.jpg') }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
				<!--BEGIN: SLIDE #2 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="{{ asset('bundles/site/base/img/content/backgrounds/bg-57.jpg') }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
			</ul>
		</div>
	</div>
	</section>
	<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<!-- BEGIN: CONTENT/STEPS/STEPS-1 -->
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container>
			<div class="row">
				<div class="col-md-12">
				{%block container_default %}
					<div class="c-content-title-1 c-margin-b-60">
						<h3 class="c-center c-font-uppercase c-font-bold">
						Cómo optimizamos su institución </h3>
						<div class="c-line-center">
						</div>
						<p class="c-center c-font-uppercase c-font-17">
							Llevamos las aulas a tu bolsillo
						</p>
					</div>
					{% endblock %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="c-content-step-1 c-opt-1">
						<div class="c-icon">
							<span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-14 c-theme"></span></span>
						</div>
						<div class="c-title c-font-20 c-font-bold c-font-uppercase">
							1. Captura de la información
						</div>
						<div class="c-description c-font-17">
							 Se captura información de los recursos y los activos de su institución.
						</div>
						<button class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">Ver Más</button>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="c-content-step-1 c-opt-1">
						<div class="c-icon">
							<span class="c-hr"><span class="c-content-line-icon c-icon-21 c-theme"></span></span>
						</div>
						<div class="c-title c-font-20 c-font-bold c-font-uppercase">
							2. Planificación de los recursos
						</div>
						<div class="c-description c-font-17">
							 El sistema permite planificar eficientemente el uso de los activos de su entorno educativo
						</div>
						<button class="btn c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">Ver Más</button>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="c-content-step-1 c-opt-1">
						<div class="c-icon">
							<span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-32 c-theme"></span></span>
						</div>
						<div class="c-title c-font-20 c-font-bold c-font-uppercase">
							3. Acceso Inmediato y Confiable
						</div>
						<div class="c-description c-font-17">
							 Alumnos, Profesores, Administrativos, Padres, todos pueden acceder a la información de manera Inmediata
						</div>
						<button class="btn c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">Ver Más</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="c-content-box c-size-md">
		<div class="container">
			
			<div class="row">
				<div class="c-content-pricing-1 c-opt-1">
					<div class="col-md-3 c-sm-hidden">
						<div class="c-content c-column-odd c-padding-adjustment">
							<div class="c-row c-type c-font-20 c-align-left">
								Características del Producto
							</div>
							<div class="c-row c-title c-font-17">
								Licencia
							</div>
							<div class="c-row c-title c-font-17">
								Usuarios
							</div>
							<div class="c-row c-title c-font-17">
								Aplicaciones Móviles
							</div>
							<div class="c-row c-title c-font-17">
								Licencia
							</div>
							<div class="c-row c-empty">
								&nbsp;
							</div>
							<div class="c-row c-empty">
								&nbsp;
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="c-content c-column-even c-padding-adjustment">
							<div class="c-row c-type c-font-20">
								Gratisf
							</div>
							<div class="c-row c-font-17">
								 30 días <span class="c-sub-title"></span>
							</div>
							<div class="c-row c-font-17">
								 5 <span class="c-sub-title"></span>
							</div>
							
								<div class="c-row">
								<i class="fa fa-times c-font-20"></i><span class="c-sub-title"></span>
							</div>
							
							<div class="c-row c-price">
								<span class="c-dollar c-font-20">$</span><span class="c-font-30 c-font-bold">0</span>
							</div>
							<div class="c-row c-purchase">
								<button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">Probar</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="c-content c-column-odd c-padding-adjustment">
							<div class="c-row c-type c-font-20">
								Starter
							</div>
						    <div class="c-row c-font-17">
								 365 días <span class="c-sub-title"></span>
							</div>
							<div class="c-row c-font-17">
								 100 <span class="c-sub-title"></span>
							</div>
							
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">Paid Issues</span>
							</div>
							<div class="c-row c-price">
								<span class="c-dollar c-font-20">$</span><span class="c-font-30 c-font-bold">129</span>
							</div>
							<div class="c-row c-purchase">
								<button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">Comprar</button>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="c-content c-column-even">
							<div class="c-row c-type c-font-20">
								Professional
							</div>
							<div class="c-row c-font-17">
								 365 días <span class="c-sub-title"></span>
							</div>
							<div class="c-row c-font-17">
								 Ilimitados <span class="c-sub-title"></span>
							</div>
						
							<div class="c-row">
								<i class="fa fa-check c-font-20"></i><span class="c-sub-title">Paid Issues</span>
							</div>
							<div class="c-row c-price">
								<span class="c-dollar c-font-20">$</span><span class="c-font-30 c-font-bold">299</span>
							</div>
							<div class="c-row c-purchase">
								<button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{%endblock%}