 {% extends "SiteBundle::layout/frontend.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block javascript%}
 </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
        async defer>
        	
</script>

{%endblock%}



{%block container_default %}
    <div >

						<div class="col-md-4 c-bg-grey" style="padding-right:0!important;padding-top:20px!important;">
							<div class="c-content-title-2">
								<h3 class="c-left c-font-uppercase">Datos Personales</h3>
								<div class="c-line c-dot c-dot-left c-theme-bg c-theme-bg-after ">
								</div>
								
							</div>
						</div>
						<div class="col-md-4 c-bg-grey" style="padding-left:0!important;padding-right:0!important;padding-top:20px!important;">
							<div class="c-content-title-2">
								<h3 class="c-center c-font-uppercase">Datos de la Institución</h3>
								<div class="c-line c-dot c-theme-bg c-theme-bg-after c-bg-grey">
								</div>
							</div>
						</div>
							<div class="col-md-3 " style="padding-left:0!important;padding-top:20px!important;">
							<div class="c-content-title-2">
								<h3 class="c-right c-font-uppercase">Finalizar</h3>
								<div class="c-line c-dot c-dot-right c-theme-bg c-theme-bg-after">
								</div>
							</div>
						</div>
	</div>					
				


   <div class="col-md-4">
   <div style="padding-top:50px;"></div>
        <div class="row">
				<h3 class="c-font-24 c-font-sbold">Agregar Institución</h3>
				<p>
					Por favor inserte los datos de su institución
				</p>
				<form>
					
						<div class="form-group">
						<label for="signup-country" class="hide">Country</label>
						<select class="form-control input-lg c-square" id="signup-country">
							<option value="1">Country</option>
							{%for country in countries%}
							<option value="{{country.id}}">{{country.countryName}}</option>
							{%endfor%}
						</select>
					</div>

					<div class="form-group">
						<label for="signup-country" class="hide">Cargo en la Institución</label>
						<select class="form-control input-lg c-square" id="signup-country">
							<option value="1">Cargo en la Institución</option>
							{%for position in positions%}
							<option value="{{position.id}}">{{position.position}}</option>
							{%endfor%}
						</select>
					</div>
					<div class="form-group">
						<label for="signup-email" class="hide">Email</label>
						<input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="signup-username" class="hide">Nombres</label>
						<input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Nombres">
					</div>
					<div class="form-group">
						<label for="signup-fullname" class="hide">Apellidos</label>
						<input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Apellidos">
					</div>

				
					<div class="form-group">
						<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Ir a la Portada</button>
						<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Siguiente</button>
					</div>
				
	     </div>
    </div>

    <div class="col-md-6">
   <div style="padding-top:50px;"></div>
        <div class="map">
				
				
	     </div>

	     </form>
    </div>
{%endblock%}

