
{% block stylesheets %}

{% endblock %}
{% block javascript %}


{% endblock %}
<div class="text-center">







    <script>

        {% block onreadyjs %}

        {% endblock %}
    </script>


</div>
