{% extends '::base_nosidebar.html.twig' %}

 {% block pagecontent %}


     <div class="grey">
         <div class="page-content-body">


             <div class="row">
                 <div class="col-md-12">
                     <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                     <h3 class="page-title">
                         Mi Perfil <small> Modificacion de los datos del perfil</small>
                     </h3>
                     <ul class="page-breadcrumb breadcrumb">
                         <li>
                             <i class="fa fa-home"></i>
                             <a href="{{ path('home_page') }}">
                                 Portada
                             </a>
                             <i class="fa fa-angle-right"></i>
                         </li>
                         <li>
                             <a href="#">
                                 Mi Perfil
                             </a>
                         </li>
                         <li class="pull-right">
                             <div data-original-title="Change dashboard date range" data-placement="top" class="dashboard-date-range tooltips" id="dashboard-report-range" style="display: block;">
                                 <i class="fa fa-calendar"></i>
                                 <span></span>
                                 <i class="fa fa-angle-down"></i>
                             </div>
                         </li>
                     </ul>
                     <!-- END PAGE TITLE & BREADCRUMB-->
                 </div>
             </div>
             {% block content %}

                     {{ render(path('security_crud_my_profile'))}}
             {% endblock %}
         </div>

     </div>

 {% endblock %}