
<div class="modal fade modal_calendario_event"  data-backdrop="static" data-keyboard="false" id="calendario_event_modal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ajax_form_block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Nuevo Evento</h4>
            </div>
            <form  action="{{path('new_event')}}" method="POST" id="calendario_event_form" class="ajax_form">
                <div class="modal-body">
                    <div id="calendario_event_form_container">
                        {{ form_widget(form) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button class="btn blue " type="submit" value="Aceptar" onclick="adicionarEvento()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>


