

<div class="text-center">
    {#% autoescape %#}
      {#%if content_portada.html is defined%#}
        {#{ content_portada.html |raw#}
      {#%endif%#}

    {#% endautoescape %#}
    <div class="row col-md-12 blocks">
                     <div class="col-md-3">
                     <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/groups-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Groups
                              </h4>
                               <p class="description">
                                     2 Groups
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                    <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/administrators-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Administrators
                              </h4>
                               <p class="description">
                                     2 Administrators
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                     <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/advertisers-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Advertisers
                              </h4>
                               <p class="description">
                                     2 Advertisers
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                        <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/consumers-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Consumer Banners
                              </h4>
                               <p class="description">
                                     2 banners
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                       <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/gallery-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Gallery
                              </h4>
                               <p class="description">
                                     2 Videos, 2 Fotos
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>


                    <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/members-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Members
                              </h4>
                               <p class="description">
                                     2 Members
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                     <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/events-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Events
                              </h4>
                               <p class="description">
                                     2 Events
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                      <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/coupons-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Coupons
                              </h4>
                               <p class="description">
                                     2 Coupons
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                     <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/surveys-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Surveys
                              </h4>
                               <p class="description">
                                      Surveys
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                    <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/broadcasts-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Broadcast
                              </h4>
                               <p class="description">
                                     2 Members
                               </p>
                            </div>
                        </div>
                      </a>
                    </div>
                     <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/products-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Products
                              </h4>
                               <p class="description">
                                     2 Products
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                        <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/sales-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Sales
                              </h4>
                               <p class="description">
                                     2 in Sales
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>
                        <div class="col-md-3">
                      <a href="/IVQII/web/app_dev.php/admin/groups">
                        <div class="block">
                         <div class="row">
                            <p>
                               <img src="/IVQII/web/bundles/admin/images/adminHomepage/reports-dashboard.png">
                            </p>
                              <h4 style="text-align:center">
                                 Reports
                              </h4>
                               <p class="description">
                                     2 Reports
                               </p>
                            </div>
                        </div>
                      </a>
                     </div>

                </div>
</div>
